In [3]:
import mysql.connector

db = mysql.connector.connect(user='root', host='127.0.0.1', password='hello', database='sakila')
cursor = db.cursor()

query = ('select film_id, title from film where film_id > 950;')
cursor.execute(query)

for info in cursor:
	print( info)



#Hat tip to Craig Einstein

(951, 'VOYAGE LEGALLY')
(952, 'WAGON JAWS')
(953, 'WAIT CIDER')
(954, 'WAKE JAWS')
(955, 'WALLS ARTIST')
(956, 'WANDA CHAMBER')
(957, 'WAR NOTTING')
(958, 'WARDROBE PHANTOM')
(959, 'WARLOCK WEREWOLF')
(960, 'WARS PLUTO')
(961, 'WASH HEAVENLY')
(962, 'WASTELAND DIVINE')
(963, 'WATCH TRACY')
(964, 'WATERFRONT DELIVERANCE')
(965, 'WATERSHIP FRONTIER')
(966, 'WEDDING APOLLO')
(967, 'WEEKEND PERSONAL')
(968, 'WEREWOLF LOLA')
(969, 'WEST LION')
(970, 'WESTWARD SEABISCUIT')
(971, 'WHALE BIKINI')
(972, 'WHISPERER GIANT')
(973, 'WIFE TURN')
(974, 'WILD APOLLO')
(975, 'WILLOW TRACY')
(976, 'WIND PHANTOM')
(977, 'WINDOW SIDE')
(978, 'WISDOM WORKER')
(979, 'WITCHES PANIC')
(980, 'WIZARD COLDBLOODED')
(981, 'WOLVES DESIRE')
(982, 'WOMEN DORADO')
(983, 'WON DARES')
(984, 'WONDERFUL DROP')
(985, 'WONDERLAND CHRISTMAS')
(986, 'WONKA SEA')
(987, 'WORDS HUNTER')
(988, 'WORKER TARZAN')
(989, 'WORKING MICROCOSMOS')
(990, 'WORLD LEATHERNECKS')
(991, 'WORST BANGER')
(992, 'WRATH MILE')
(993, 'WRONG BEHAVIOR')
(994, 'WYOMING STORM')
(995, 'YENTL IDAHO')
(996, 'YOUNG LANGUAGE')
(997, 'YOUTH KICK')
(998, 'ZHIVAGO CORE')
(999, 'ZOOLANDER FICTION')
(1000, 'ZORRO ARK')

In [ ]:
#query2= #code for a query for another table from sakila
cursor.close()
db.close()